In [1]:
from bs4 import BeautifulSoup as bsoup
import urllib.robotparser
import requests
import time
import pandas as pd
import re
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [2]:
# https://www.bls.gov/opub/ted/2021/consumer-prices-increase-5-0-percent-for-the-year-ended-may-2021.htm
url = "https://www.bls.gov/opub/ted/2021/consumer-prices-increase-5-0-percent-for-the-year-ended-may-2021.htm"
page = requests.get(url)
soup = bsoup(page.text, 'lxml')

In [3]:
all_tables = soup.find_all("table", class_="regular")
headers = all_tables[0].find('thead').text.strip().split("\n")
headers

all_rows = []

tbody = all_tables[0].find('tbody')
entries = tbody.find_all('tr')

for i in entries:
    x = i.text.strip().split("\n")
    x = x[0:1] + x[2:]
    all_rows.append(x)

all_dat = pd.DataFrame(all_rows, columns=headers)
all_dat['Month'] = pd.to_datetime(all_dat['Month'])
all_dat = all_dat.replace('%','', regex=True)

heads = all_dat.columns[1:]
for item in heads:
    all_dat[item] = pd.to_numeric(all_dat[item])
    
all_dat.to_pickle("final-clean-consumer_prices.pkl")
all_dat.to_csv("final-clean-consumer_prices.csv")
all_dat

,Month,All items,Food,Food at home,Food away from home,Energy,Electricity,Gasoline (all types),All items less food and energy,Furniture and bedding,Apparel,Used cars and trucks,Medical care,Sporting goods,Public transportation
0,1980-01-01,13.9,8.9,7.8,11.3,41.5,11.1,60.1,12.0,7.1,6.5,1.9,10.0,8.9,19.4
1,1980-02-01,14.2,7.3,5.9,10.7,46.6,13.8,67.9,12.0,7.6,6.4,1.0,10.8,9.6,20.3
2,1980-03-01,14.8,7.4,5.9,10.4,47.1,14.1,68.1,12.5,8.6,7.0,0.0,11.2,10.0,21.3
3,1980-04-01,14.7,7.2,5.9,10.3,43.5,14.8,59.7,13.0,8.2,7.2,-1.7,11.5,9.3,22.5
4,1980-05-01,14.4,6.8,5.6,9.8,39.3,15.8,51.7,13.3,8.5,6.8,-2.9,11.6,8.5,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2021-01-01,1.4,3.8,3.7,3.9,-3.6,1.5,-8.6,1.4,1.5,-2.5,10.0,1.9,2.8,-13.9
493,2021-02-01,1.7,3.6,3.5,3.7,2.4,2.3,1.5,1.3,0.6,-3.6,9.3,2.0,4.6,-16.2
494,2021-03-01,2.6,3.5,3.3,3.7,13.2,2.5,22.5,1.6,3.5,-2.5,9.4,1.8,4.8,-8.2
495,2021-04-01,4.2,2.4,1.2,3.8,25.1,3.6,49.6,3.0,7.8,1.9,21.0,1.5,7.0,7.0
496,2021-05-01,5.0,2.2,0.7,4.0,28.5,4.2,56.2,3.8,8.6,5.6,29.7,0.9,9.0,15.9

In [4]:
# https://www.bls.gov/opub/ted/2021/consumer-prices-increase-5-0-percent-for-the-year-ended-may-2021.htm
url = "https://www.bls.gov/opub/ted/2021/real-average-weekly-earnings-down-2-2-percent-from-may-2020-to-may-2021.htm"
page = requests.get(url)
soup = bsoup(page.text, 'lxml')

In [5]:
all_tables = soup.find_all("table", class_="regular")
headers = all_tables[0].find('thead')
heads = headers.find_all('tr')
head = ["Month"] + heads[1].text.strip().split("\n")
head

all_rows = []

tbody = all_tables[0].find('tbody')
entries = tbody.find_all('tr')

for i in entries:
    x = i.text.strip().split("\n")
    x = x[0:1] + x[2:]
    all_rows.append(x)

all_dat = pd.DataFrame(all_rows, columns=head)
all_dat['Month'] = pd.to_datetime(all_dat['Month'])
all_dat = all_dat.replace('\$','', regex=True)
all_dat = all_dat.replace('%','', regex=True)

heads = all_dat.columns[1:]
for item in heads:
    all_dat[item] = pd.to_numeric(all_dat[item])
    
all_dat.to_pickle("final-clean-weekly_earnings.pkl")
all_dat.to_csv("final-clean-weekly_earnings.csv")
all_dat

,Month,Average weekly earnings of all employees,12-month percent change in average weekly earnings of all employees,"Real average weekly earnings of all employees, 1982-1984 dollars",12-month percent change in real average weekly earnings of all employees
0,2011-01-01,781.47,2.3,353.31,0.6
1,2011-02-01,784.44,3.4,353.51,1.2
2,2011-03-01,784.44,2.8,351.69,0.1
3,2011-04-01,788.45,2.8,351.84,-0.3
4,2011-05-01,788.56,2.6,350.77,-0.8
...,...,...,...,...,...
120,2021-01-01,1047.20,7.4,399.34,5.9
121,2021-02-01,1038.00,5.8,394.44,4.1
122,2021-03-01,1045.95,6.7,395.01,4.0
123,2021-04-01,1053.28,2.4,394.74,-1.7
124,2021-05-01,1058.52,2.6,394.16,-2.2